<div class="container my-5 ">
  <h1>Dishs Details</h1>
  <div class="d-flex">
    <div class="flex-shrink-0">
      <img src="{{ foods.image }}" alt="...">
      <h3>{{foods.name}}</h3>
      <p>{{foods.description}}</p>

      <div class="price">{{foods.price|currency}}</div>

      <ng-template [ngIf]="foods.availability" [ngIfElse]="notAvailabel">

        <ng-template [ngIf]="notAvailabel" [ngIfElse]="notAvailabel">
          <button [id]="['','Item added to cart', 'success']" class=" btn btn-light btn-sm " type="button "
            (click)="(foods) ">Thank you for your ordering</button>
        </ng-template>
      </ng-template>


      <ng-template #notAvailabel>
        <div class="not-available">Not availabel</div>
      </ng-template>

    </div>

    <div class="flex-grow-1 ms-3">
      {{ foods.name }} {{ foods.price|currency }} <br>
      <p class="btn btn-warning">Add to cart</p>
    </div>

  </div>
</div>