<div class="navbar">
  <h1>Order Form<br> Please here fill up the info of the delivery</h1>

</div>

<div class="footer">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter Name">
      <small id="emailHelp" class="form-text text-muted">We.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Address</label>
      <input type="Enter Address" class="form-control" id="exampleInputPassword1" placeholder="Enter Address">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
    </div>
    <div class="Order">
      <button type="submit" class="btn btn-primary">Purchase</button>
    </div>
  </form>  
  <p>&copy; 2023 Yalew Fyissa</p>
</div>