<p class=" about-us">As a restaurant operator, you have to wear many different hats, even if the responsibilities you take on are not within your expertise. Writing is one of those tasks. It can be intimidating to write something customers find interesting, whether it be creating a new email campaign or a websites About Us section. <br>

However, the about page on your site is particularly important for online visitors. Customers are naturally curious, and not just about your menu. An about page tells the story of a business, highlighting what makes a restaurant unique. Everyone loves a good origin story!
    
“An About Us section helps your customers connect more with your restaurant and grow an attachment to it,” Trampel explains.</p>
