<div class="topic_menu">
  <h1>Our specialites</h1>
</div>
<div class=" row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 mb-2">
  <div class="mb-5" *ngFor="let foods of foods; index as id">

    <hr>
    <div class="card ">

      <img src="{{ foods.image }}" style="height: 250px;" class="card-img-top">

      <div class="card-body">
        <div class="name">
          {{foods.name}}

          <hr>
        </div>
        <h5 class="card-title">{{foods.price|currency}}</h5>

        <div *ngIf="foods.availability; then availabel else notAvailable"></div>
        <ng-template #availabel>

        </ng-template>
        <hr>
        <ng-template #notAvailable>
          <div class="notAvailable">This food is currently not available</div>

        </ng-template>
        <div class="price">
          <div class="prim">
            <a class="btn btn-success" routerLink="/menu/{{id}}">Details</a>
            <a class="btn btn-primary" (click)="addToCart(foods)">Cart</a>
          </div>

        </div>
      </div>
    </div>
  </div>