  
.card-title{
  text-align: left;
  color: brown;
  display: flex;
  
}

.notAvailable{
  color: brown;
}
.topic_menu{
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 90px;
}
.prim{
  text-align: left;
   
}
