
  /* ext-align:left;
  margin-left: 1px;
  text-justify: 0px;
  background-color:rgba(0, 0, 0, 0.76);
  color: white;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: left; */ */

  
.card-title{
  text-align: left;
  color: brown;
  display: flex;
  
}

.notAvailable{
  color: brown;
}

