<div class="container_image">

  <div class="card text-bg-dark ">

    <img
      src="https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Benvenuto Restaurant</h5>
      <p class="card-text">We delivering graet food more than 18 years</p>
      <p class="card-text"><small>Come to us and enjoying with varaitis of our fresh foods!</small></p>
    </div>
  </div>

  <div class="container-fluid" style="position: relative">

    <header class="py-5  text-center">
      <h1>Benvenuto Food With Recipes</h1>
    </header>
    <table>
      <div class="d-flex flex-column flex-md-row kkk;">
        <img class="img-fluid" src="https://resizer.otstatic.com/v2/photos/xlarge/1/25245391.jpg" alt="">

        <h5 style="padding-left: 3rem;">
          <p>
            <span class="topic">
              The best Italians in the world: Vienna restaurant among the top 50.
            </span>
            <br>
            <br>
            <span id="text1" style=" font-size: 1rem;">
              One of the most prestigious culinary awards in the world was presented in Milan on December 13th. "50 Top
              Italy" honors the best Italian restaurants in the world every year - and the "Pastamara" under chef de
              cuisine Francesco Milicia was also on the list again. The "Pastamara" is therefore the best Italian in
              Austria.

              The culinary concept of the "Bar con Cuccina" comes from star chef Ciccio Sultano.<br> <br>
              <td>
                <ul>
                  <i>New openings: When it comes to breakfast and brunch, a lot has happened in the capital</i><br>
                  <i>A new restaurant by top chef Konstantin Filippou opens its doors. What the guests can expect
                    there.</i><br>
                  <i>Johann Breiteneder has invested 50 million euros, a not insignificant part of which went into the
                    Glasswing restaurant on the ground floor.</i>

                </ul>
              </td> <br>
              Even if the moody March can send us snowflakes again, spring is definitely coming. And he sends us bear
              powers with his knobbly green.
            </span>
          </p>
        </h5>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <hr>


      <div class="container text-center">
        <div class="row align-items-start">
          <div>
            <div class="col">
              <div class="minitop">

                <h1>Why you choose us</h1>
                <h3> We have long years expiriance and better qulity ordanic foods provider</h3>


                <div class="table-responsive">
                  <table class="table align-middle">
                    <thead>
                      <tr>

                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text_add">
                        <td>
                          <p>01</p>
                          <h4>Great Food</h4>
                          Our restaurant prides itself on the quality of the food that it serves to its visitors and its
                          chefs will have spent weeks, months and even years poring over their recipes to ensure that
                          they reach the standards that diners expect.
                        </td>
                        <td>
                          <p>02</p>
                          <h4>Trying Something New</h4>
                          A paragraph of placeholder text. We're using it here to show the use of the clearfix
                          class.We're adding quite a
                        </td>
                        <td>
                          <p>03</p>
                          <h4>Dedicated Staff</h4>
                          our staff will always work to ensure that you get what you want out of the experience. Their
                          hard work ensures that the restaurant keeps running smoothly and continues to deliver great
                          meals to all of our customers.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>


                <div class="clearfix">
                  <img src="https://cdn.pixabay.com/photo/2016/11/29/13/02/cheese-1869708_1280.jpg"
                    class="col-md-6 float-md-end mb-3 ms-md-2" alt="...">
                  <h3 class="topic2">Check our specials of unchangeble every time</h3>
                  <h4 class="topic3">Check our specials</h4>
                  <div class=text_imp>
                    <p>
                      A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're
                      adding
                      quite a few meaningless phrases here to demonstrate how the columns interact here with the floated
                      image.
                    </p>
                    <p>
                      As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would
                      look
                      with some actual content in here, rather than just this boring t.
                    </p>

                    <p>
                      And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                      insights,
                      or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.
                    </p>
                  </div>
                </div>


                <div class="parallax"></div>

                <div class="bar-2">
                  <h2>Foods</h2>

                  <div class="cards-container mb-5 mt-5 mx-auto" style="width:90%">
                    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 gy-5">

                      <div class="cardDiv2">


                      </div>

                    </div>
                  </div>

                </div>